In [1]:
import pandas as pd
import numpy as np
import json

import time
import datetime
from datetime import timedelta

In [2]:
covers = pd.read_csv('D:\data_science\yandex_music\data\covers.csv')
lyrics = pd.read_csv('D:\data_science\yandex_music\data\lyrics.csv')
meta = pd.read_csv('D:\data_science\yandex_music\data\meta.csv')
meta['dttm'] = pd.to_datetime(meta['dttm'], unit="ms")

In [3]:
meta.head(5)

,track_id,dttm,title,language,isrc,genres,duration
0,c3b9d6a354ca008aa4518329aaa21380,2021-12-16 21:00:00,Happy New Year,EN,RUB422103970,['DANCE'],161120.0
1,c57e3d13bbbf5322584a7e92e6f1f7ff,2021-11-24 14:00:33,Bad Habits,EN,QZN882178276,['ELECTRONICS'],362260.0
2,955f2aafe8717908c140bf122ba4172d,2021-11-24 15:37:03,Por Esa Loca Vanidad,NaN,QZNJZ2122549,"['FOLK', 'LATINFOLK']",260000.0
3,fae5a077c9956045955dde02143bd8ff,2021-11-24 15:37:03,Mil Lagrimas,NaN,QZNJZ2166033,"['FOLK', 'LATINFOLK']",190000.0
4,6bede082154d34fc18d9a6744bc95bf5,2021-11-24 15:37:03,Sexo Humo y Alcohol,NaN,QZNJZ2122551,"['FOLK', 'LATINFOLK']",203000.0

In [4]:
print('MIN:', meta['dttm'].min())
print('MAX:', meta['dttm'].max())
print(meta['dttm'].max() - meta['dttm'].min())

MIN: 2009-08-10 17:32:06
MAX: 2023-10-18 21:00:00
5182 days 03:27:54

In [5]:
covers.head(5)

,original_track_id,track_id,track_remake_type
0,eeb69a3cb92300456b6a5f4162093851,eeb69a3cb92300456b6a5f4162093851,ORIGINAL
1,fe7ee8fc1959cc7214fa21c4840dff0a,fe7ee8fc1959cc7214fa21c4840dff0a,ORIGINAL
2,cd89fef7ffdd490db800357f47722b20,cd89fef7ffdd490db800357f47722b20,ORIGINAL
3,995665640dc319973d3173a74a03860c,995665640dc319973d3173a74a03860c,ORIGINAL
4,":null,",d6288499d0083cc34e60a077b7c4b3e1,COVER

In [6]:
lyrics.head()

,lyricId,track_id,text
0,a951f9504e89759e9d23039b7b17ec14,1c4b1230f937e4c548ff732523214dcd,"Живу сейчас обломами, обломками не той любви\n..."
1,0c749bc3f01eb8e6cf986fa14ccfc585,0faea89b0d7d6235b5b74def72511bd8,Tell me your fable\nA fable\nTell me your fabl...
2,e2c8830fbc86e5964478243099eec23a,9c6dc41d5ccd9968d07f055da5d8f741,You're ashamed about all your fears and doubts...
3,e2c8830fbc86e5964478243099eec23a,bfd04a73e9cffdf0e282c92219a86ea1,You're ashamed about all your fears and doubts...
4,7624653ca8522ba93470843c74961b7d,8d70930d09cd239c948408d1317d8659,"You showed him all the best of you,\nBut I'm a..."